## Generic exclusions
# System files
.DS_Store
*.asv
*~
*.tmp

# Python optimization leftovers
__pycache__/
*.py[cod]
*$py.class

# Left by RStudio
.Rhistory

## Project-specific exclusions
# Subject data
*.edf
/beh/*.txt
/beh/*.tsv
/beh/pilot/
/ExpOutputs/TCoutput/*.mat
/Analysis/allData.mat
/Analysis/motionMaps/

# Stimuli
*.mov
*.avi

# Development-related
notes.txt
test*

# Other assets
/Analysis/LabelSessions/
/Analysis/posDat/
/Analysis/posDatOpenCV/
/Analysis/masks/
/Analysis/motionData/