## Generic exclusions
# System files
.DS_Store
*.asv
*~

# Python optimization leftovers
__pycache__/
*.py[cod]
*$py.class

# Left by RStudio
.Rhistory

## Project-specific exclusions
# Subject data
*.edf
/beh/*.txt

# Stimuli
*.mov